/*Background*/
body {
	background: #33ccff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-90deg, #ccccff, #9fe09f, #ffffcc); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-90deg, #ccccff, #9fe09f, #ffffcc); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-90deg, #ccccff, #9fe09f, #ffffcc); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-90deg, #ccccff, #9fe09f, #ffffcc); /* Standard syntax */
	
	font-family: 'Roboto', sans-serif;
}

#codeholder {
	background: #33ccff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-90deg, #33ccff, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-90deg, #33ccff, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-90deg, #33ccff, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-90deg, #33ccff, white); /* Standard syntax */
}

/* Nav Bar */
#nav ul {
	margin: 0px 0 0px 0;
	padding: 10px 0 20px 0;
	list-style-type: none;
	font-size: 25px;
	text-align: center;
	background-color: #161616;
	border: 0px 0 0px 0;
}
#nav li {
	display: inline;
	margin: 0;
	padding: 0;
}
#nav li a {
	margin: 0 1em 0 0;
	padding: 5px 0;
	text-decoration: none;
	color: white;
}
#nav li a:hover:not(.active) {
    text-decoration: underline;
}
#nav a.selected:link, a.selected:visited {
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
}

/* Content */
#hometext {
	background-color: rgba(255,255,255,.7);
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	padding: 30px;
	border-radius: 30px;
	width: 65%;
	height: auto;
	
	font-size: 20px;
}
#credits {
	background-color: rgba(255,255,255,.7);
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	padding: 30px;
	border-radius: 30px;
	width: 65%;
	height: auto;
	
	font-size: 20px;
}
#references {
	background-color: rgba(255,255,255,.7);
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	padding: 30px;
	border-radius: 30px;
	width: 65%;
	height: auto;
	
	font-size: 20px;
}
.mySlides {
	display:none;
	margin: auto;
	margin-top: 6%;
    width: 70%;
}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer
}
.w3-badge {
	height:13px;
	width:13px;
	padding:0
}

